
.out-container {
    display:grid;
    place-items:center;
    overflow:visible;
}

.paragraph-container{
    display:grid;
    width:79%;
    overflow-y: visible;
    place-items:center;
    justify-items: center;
    justify-content:center;
    font-size:24px;
    box-sizing: border-box;
    }
.text-container {
   
    display: flex;
    justify-content: center;

    width: 80%;
    overflow-y: visible;
    padding: 1rem;
    box-sizing: border-box;
  }


.auto-resize-container {
    
    max-height: 100vh;
    overflow-y: visible;
    
    /* Optional styling */
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .auto-resize-textarea {
    width: 100%;
    min-height: 100px;
    max-height: 100vh; /* Never exceed screen height */
    resize: none; /* Disable manual resizing */
    max-width:60vw;
    /* Automatic sizing */
    box-sizing: border-box;
    overflow-y: visble; /* Hide scrollbar while auto-resizing */
    
    /* Optional styling */
    padding: 8px;
    border: 1px solid #ddd;
    font-family: inherit;
    font-size: inherit;
  }

  .ul {
    font-weight:600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px  solid blue ;
  }
  .vartype:nth-child(odd) {
    color:red;
  }
  .vartype:nth-child(even){
    color:blue;
  }